!!!
%html
  %head
    %link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet")
    %script(src="//code.jquery.com/jquery-1.11.2.min.js")
  %body
    .container
      .page-header
        %h1.lead Weather Reporter

      .input-group
        %span.input-group-addon Location
        %input.form-control{ type: "text", placeholder: "coordinates" }

    %script(src="/javascripts/Weather_data_retriever.js")
